body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #282828;
	line-height: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Serif Sans Pro', sans-serif;
	color: #282828;
}

h1 {
	font-size: 26px;
	line-height: 30px;
	margin: 20px 0px 0px 0px;
}

h2 {
	margin-top: 0;
	font-size: 22px;
	margin: 16px 0;
}

h3 {
	margin-top: 35px;
	font-size: 18px;
}

p {
	margin: 12px 0px;
}


a {
	text-decoration: none;
	color: #1F77d4;
	margin: 8px 0px;
	font-weight: 500;
}
/*a:visited {
  color: #2CA02C;
}
*/

a:hover {
	text-decoration: underline;
}

img {
	border: solid 1px #CCC;
}

#wrapper {
	margin: auto;
	width: 1000px;
	text-align: left;
	position: relative;
	padding: 0 30px;
}

#left_bar {
	position: fixed;
	top: 65px;
  display: inline-block;
	width: 195px;
	padding-left: 0px;
	padding-right: 0px;
  z-index: 1;
}

#main {
	margin-left: 240px;
	padding-top: 55px;
	padding-bottom: 80px;
	width: 750px;
  z-index: 20;
  background-color: white;
}

.section {
	padding-top: 25px;
	padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.section + .section {
	border-top: solid 1px #CCC;
}

#picture_container {
	height: 225px;
	margin-bottom: 5px;
}

#picture {
	width: 190px;
}

#info_box {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

.visibility-hidden {
	visibility: hidden;
}

.publication p {
  margin: 2px;
}

.publication p.title {
  font-weight: bold;
}

.publication .abstract, .publication .bibtex {
  position: relative;
  display: none;
  padding: 15px 20px;
  margin: 8px 5px;
  background-color: #EEE;
  border: solid 1px #CCC;
  font-size: 14px;
}

.publication .links div {
  display: inline-block;
  margin-right: 10px;
}

.publication + .publication {
  margin-top: 30px;
}

.bibtex-link, .abstract-link {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.space {
width: 15px;
display: inline-block;
}

.no-border {
        border: none;
        background-color: transparent;
        display: inline-block;
        margin: 0 2px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #1e1e1e; /* Default dark background */
  color: #e4e6eb /* Default light text */
}

.dark-mode #main {
  background-color: #1e1e1e; /* Dark background for the main content area */
  color: #e4e6eb; /* Ensures text within is light */
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
  color: #ffffff; /* Light text for all headers */
}

.dark-mode a, .dark-mode a:visited {
  color: #88bbff; /* Blue for links */
}

.dark-mode .abstract, .dark-mode .bibtex {
  background-color: #333333; /* dark background for dark mode */
  color: #e4e6eb
}

/* Container for the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  margin-left: 10px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider styling */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #88bbff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #88bbff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode-toggle {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    width: 100%;
}

.mode-toggle p {
    margin-right: 10px; /* Adds some space between the text and the slider */
    margin-bottom: 0; /* Removes default margin from paragraph to avoid extra space */
}

